{%extends 'base.html'%}
{%load static%}
{% load i18n %}
{%block menu%}

<div class="header-mobile">
    <span class="mobile-home-link"><a href="index.html">{% trans "Hello" %}</a></span>
    <a class="mobile-menu-toggle" href="#"><span>{% trans "Menu" %}</span></a>
</div>
<div class="row wide main-nav-wrap">
    <nav class="column lg-12 main-nav">
        <ul>


            <li class="current">
                <a href="#intro" class="smoothscroll">{% trans "Intro" %}</a>
            </li>
            <li>
                <a href="#about" class="smoothscroll">{% trans "About" %}</a>
            </li>
            <li>
                <a href="#works" class="smoothscroll">{% trans "Works" %}</a>
            </li>
            <li>
                <a href="#contact" class="smoothscroll">{% trans "Say Hello" %}</a>
            </li>
            <li>
                <a href="{% url 'blog' %}" style="color: orange;" class="">{% trans "Blog" %}</a>
            </li>

        </ul>
    </nav>
</div>
{%endblock%}
{%block context%}
<main class="s-content">


    <!-- ### intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row contact-top">
            <div class="column lg-7 md-10 tab-6 stack-on-650 contact-block">
                <h2 class="text-pretitle">
                    {% trans "I'm Backend Developer" %}
                </h2>
                <p class="h1">
                    {% trans "Daniil Tkachenko" %}
                </p>
                <h3 class="text-pretitle">{% trans "Why me" %}</h3>
                <ul class="contact-links">
                    <li>{% trans "Expertise in Django Framework" %}</li>
                    <li>{% trans "Experience in developing complex systems" %}</li>
                    <li>{% trans "Ability to optimize and scale" %}</li>
                    <li>{% trans "Expertise in Python" %}</li>
                    <li>Django Rest Framework</li>
                    <li>HTML/CSS</li>
                    <li>SQL/PostgreSQL</li>
                    <li>Celery/Redis</li>
                    <li>{% trans "Integration and Interoperability" %}</li>
                    <li>{% trans "Collaborative Team Player" %}</li>
                    <li>{% trans "Continuous Learning and Adaptability" %}</li>
                    <li>{% trans "Results-oriented approach" %}</li>
                </ul>

                <a href="mailto:danya.tkachenko.1997@gmail.com" class="mailtoui btn btn--medium contact-btn">
                    {% trans "Hire me" %}
                </a>

                <a href="{% static 'СV_Daniil_Tkachenko_Django_Python.pdf' %}" class="btn btn--medium">
                    &nbsp;&nbsp;{% trans "My CV" %}&nbsp;
                </a>
            </div>

            <div class="column lg-14 md-12 about-info__pic-block">
                <img src="{%static 'images/about-photo.jpg'%}"
                     srcset="{%static 'images/about-photo.jpg'%} 1x, {%static 'images/about-photo@2x.jpg'%} 2x" alt=""
                     class="about-info__pic">
            </div><!-- end contact-top -->


        </div>
    </section> <!-- end s-intro -->


    <section id="about" class="s-about target-section">
        <!-- about-info -->

        <div class="row about-expertise" data-animate-block>
            <div class="column lg-12">

                <h2 class="text-pretitle" data-animate-el>{% trans "about" %}</h2>

                <ul class="skills-list h1" data-animate-el>
                    <li>{% trans "Knowledge" %}</li>
                </ul>

            </div>
        </div> <!-- end about-expertise -->


        <div class="row about-timelines" data-animate-block>

            <div class="column lg-6 tab-12">

                <h2 class="text-pretitle" data-animate-el>
                    {% trans "Experience" %}
                </h2>

                <div class="timeline" data-animate-el>

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h3 class="timeline__title">СС Kharkiv</h3>
                            <h5 class="timeline__meta">Junior Backend Developer</h5>
                            <p class="timeline__timeframe">
                                {% trans "August 2020 - January 2022" %}
                            </p>
                        </div>
                        <div class="timeline__desc">
                            <p>
                            <p>
                                {% blocktrans %}
                                For a year, I worked as a backend developer, creating websites using Django, and
                                utilizing Celery and Redis for task management and caching. My responsibilities
                                included developing and integrating APIs, connecting and managing databases, and
                                ensuring efficient and robust web application performance.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>

                </div> <!-- end timeline -->

            </div> <!-- end column -->

            <div class="column lg-6 tab-12">
                <h2 class="text-pretitle" data-animate-el>
                    {% trans "Education" %}
                </h2>

                <div class="timeline" data-animate-el>
                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h3 class="timeline__title">
                                {% trans "KHARKIV NATIONAL UNIVERSITY OF RADIO ELECTRONICS" %}
                            </h3>
                            <h5 class="timeline__meta">
                                {% trans "CyberSecurity" %}
                            </h5>
                            <p class="timeline__timeframe">
                                {% trans "April 2016 - June 2020" %}
                            </p>
                        </div>
                        <div class="timeline__desc">
                            <p>
                                {% blocktrans %}
                                Cybersecurity is a set of tools, strategies, security principles, security
                                assurances, risk management approaches, actions, training, insurance and
                                technologies used to protect cyber media, resources of organizations and users.
                                Cybersecurity provides for the achievement and conservation of security features
                                of the resources of the organization or users directed against the corresponding
                                cyber threats.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <h4 class="timeline__title">
                                {% trans "Kyiv National Economic University Romny college" %}
                            </h4>
                            <h5 class="timeline__meta">
                                {% trans "System Administrator" %}
                            </h5>
                            <p class="timeline__timeframe">
                                {% trans "August 2012 - June 2016" %}
                            </p>
                        </div>
                        <div class="timeline__desc">
                            <p>
                                {% blocktrans %}
                                I studied at Romensky College of Kyiv National Economic University (KNEU) for 4
                                years, specializing in System Administration. During my time there, I gained
                                in-depth knowledge and skills in managing and maintaining information systems,
                                configuring servers, handling network devices, ensuring system security, and
                                providing technical support to users. This comprehensive education has equipped
                                me with the expertise needed to excel in the field of System Administration.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end about-timelines -->

    </section> <!-- end s-about -->


    <!-- ### works
    ================================================== -->
    <section id="works" class="s-works target-section">
        <div class="row works-portfolio">

            <div class="column lg-12" data-animate-block>
                <h2 class="text-pretitle" data-animate-el>
                    {% trans "Recent Works" %}

                </h2>
                <p class="h1" data-animate-el>
                    {% trans "Here are some of my projects. Feel free to check them out." %}

                </p>
                <ul class="folio-list row block-lg-one-half block-stack-on-1000">
                    {%for project in portfolios%}
                    <li class="folio-list__item column" data-animate-el>
                        <a class="folio-list__item-link" href="#modal-0{{ forloop.counter }}">
                            <div class="folio-list__item-pic">
                                <img src="{{project.image.url}}"
                                     srcset="{{project.image.url}} 1x, {{project.image.url}} 2x"
                                     alt="">
                            </div>
                            <div class="folio-list__item-text">
                                <div class="folio-list__item-cat">
                                    {{project.is_it}}
                                </div>
                                <div class="folio-list__item-title">
                                    {{project.title}}
                                </div>
                            </div>
                        </a>
                        <a class="folio-list__proj-link" href="{{project.link}}" title="project link">

                        </a>
                    </li> <!--end folio-list__item -->
                    {%endfor%}


                </ul> <!-- end folio-list -->

            </div> <!-- end column -->
            <!-- Modal Templates Popup
            -------------------------------------------- -->
            {%for project in portfolios%}
            <div id="modal-0{{ forloop.counter }}" hidden>
                <div class="modal-popup">
                    <img src="{{project.image.url}}" alt="">

                    <div class="modal-popup__desc">
                        <h5>{{ project.title }}</h5>
                        <p><strong>{% trans "Description" %}:</strong> {{ project.description }}
                            <br><strong>{% trans "What tools I used" %}:</strong> {{ project.tools }}
                        </p>


                    </div>
                    {% if project.is_link%}
                    <a href="{{project.link}}" class="modal-popup__details">Project link</a>
                    {%endif%}
                </div>
            </div>
            {%endfor%}

        </div>
    </section>

</main>
{%endblock%}