{%extends 'portfolio/base.html'%}
{%load static%}
{%block title%}My_blog{%endblock%}
<style>

</style>
{%block menu%}
    <li><a href="{% url 'portfolio' %}" style="color: orange;">Intro</a></li>
    <li><a href="{%url 'categori' 'new'%}" >New</a></li>
    <li><a href="{%url 'categori' 'old'%}" >Old</a></li>
    <li><a href="#contact" class="smoothscroll">Suggest news</a></li>
{%endblock%}

{%block context%}

{%endblock%}

{%block blogs%}
{% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
            <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Articles
                        </h2>
                        <p class="h1" data-animate-el>
                            Sometimes I will add interesting information here.
                        </p>

                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">
                            {%for i in object_list%}

                                <li class="folio-list__item column" data-animate-el>
                                    <a class="folio-list__item-link" href="#modal-0{{ forloop.counter }}">
                                        <div class="folio-list__item-pic">
                                            <img src="{%static 'images/news.png'%}"
                                                 srcset="{%static 'images/news.png'%} 1x, {%if i.picture%} {{i.picture.url}} 2x {%else%} {%static 'images/news.png'%} 2x {%endif%}"  alt="">
                                        </div>

                                        <div class="folio-list__item-text">
                                            <div class="folio-list__item-title">
                                                {{i.title}}
                                            </div>
                                        </div>
                                    </a>
                                    <a class="folio-list__proj-link" href="{{i.link}}" title="project link">

                                    </a>
                                </li> <!--end folio-list__item -->

                                  {%endfor%}


                            </ul> <!-- end folio-list -->
                      {% if is_paginated %}
                 <div class="pagination" style="text-align:center">

                     <a class="page-link" {%if page_obj.has_previous%} style="color:white;" href=" {% url 'paginator' page_obj.previous_page_number %}{% else %}#{%endif%}" tabindex="-1" aria-disabled="true">«</a>
                            {% for page in page_obj.paginator.page_range%}
                                <a class="page-link" {%if page_obj.number != page%} style="color:white;"{%else%}style="background-color: #b9b9b9; {%endif%}href="{%url 'paginator' page %}">{{page}}</a>
                            {%endfor%}
                     <a class="page-link" {%if page_obj.has_next%} style="color:white;" href=" {% url 'paginator' page_obj.next_page_number %}{% else %}#{%endif%}">»</a>
                        </ul>
                </div>
            {%endif%}
                        </div> <!-- end column -->
                        <!-- Modal Templates Popup
                        -------------------------------------------- -->
                        {%for i in object_list%}

                            <div id="modal-0{{ forloop.counter }}" hidden>
                                <div class="modal-popup">

                                    <div class="modal-popup__desc">
                                        <br><br><br>
                                        <h5>{{ i.title }}</h5>
                                        <p>{{ i.description }}</p>

                                    </div>

                                    <a href="{%url 'detail' i.id %}" class="modal-popup__details">Read</a>
                                </div>
                            </div> <!-- end modal -->
                        {%endfor%}


{%endblock%}

{%block footer%}
              <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I enjoy receiving messages from you. If you have any suggestions, I'll be here waiting for you.
                        </p>
                        <br><br>
                      <div class="column-center ">
                        <div class="text-title" style="text-align:center;">

                            {%include 'blog/modal_suggest.html'%}

                        </div>
                    </div>
                    </div>
                </div> <!-- end contact-top -->


                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


    </div>
{%endblock%}



