{% load i18n %}
<style>
.form-popup{
    display:none;
    }
 .form-popup input{
   width:100%;
    text-align:center;
    }
</style>

<button onclick="openForm(event)">{% trans "Suggest news" %}</button>

<div class="form-popup" id="myForm" style="display: none;">
  <form id="full_suggest" action="{% url 'blog' %}" method="post">
    {% csrf_token %}
    <h1>News</h1>

    <label for="title"><b>{% trans "Title" %}</b></label>
    {{ form.title }}

    <label for="description"><b>{% trans "Description" %}</b></label>
    {{ form.description }}

    <label for="link"><b>{% trans "Link to article (source)" %}</b></label>
    {{ form.link }}

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>


